<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Reconstructing Obfuscated Human Faces" src="{{ "/assets/img/p1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Reconstructing Obfuscated Human Faces </h3>
    <ul>
      <li>Deep Learning</li>
      <li>Computer Vision</li>
    </ul>
    <p>In photographic media, faces are often obfuscated to protect the identity of those pictured. This obfuscation process is done by removing details from the photograph in order to reduce the identifying facial features. However, these obfuscated images may still contain enough details such that the original features may be able to be recovered. In this project we will examine different neural networks to reconstruct obfuscated images of human faces.</p>
    <a class="project-link" href="https://github.com/utkarshmalik211/Reconstructing-Blurred-Human-Faces">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="project mnist c" src="{{ "/assets/img/p2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li>C</li>
      <li>FeedForward Neural Networks </li>
      <li>Image Processing (OpenCV)</li>
    </ul>
    <p></p>
    <a class="project-link" href="https://github.com/utkarshmalik211/mnist-digit-prediction-c">Check it out</a>
  </div>
</div>
