<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Reconstructing Obfuscated Human Faces" src="{{ "/assets/img/p1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Reconstructing Obfuscated Human Faces </h3>
    <ul>
      <li>Deep Learning</li>
      <li>Computer Vision</li>
    </ul>
    <p>In photographic media, faces are often obfuscated to protect the identity of those pictured. This obfuscation process is done by removing details from the photograph in order to reduce the identifying facial features. However, these obfuscated images may still contain enough details such that the original features may be able to be recovered. In this project we will examine different neural networks to reconstruct obfuscated images of human faces.</p>
    <a class="project-link" href="https://github.com/utkarshmalik211/Reconstructing-Blurred-Human-Faces">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="project mnist c" src="{{ "/assets/img/p2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Pattern Recogition of Handwritten Numerals</h3>
    <ul>
      <li>C</li>
      <li>Feed-Forward Neural Networks </li>
      <li>Image Processing (OpenCV)</li>
    </ul>
    <p> Handwritten digits are used in different type of data like cheque, post-mail, address on home’s name plate etc. Pattern recognition is a branch of machine learning that focuses on the recognition of patterns and regularities in data. Handwriting recognition is the ability of a computer to receive and interpret intelligible handwritten input from sources such as paper documents, photographs, touch-screens and other devices. It is concerned with a computer being able to understand human handwriting with efficiency. </p>
    <a class="project-link" href="https://github.com/utkarshmalik211/mnist-digit-prediction-c">Check it out</a>
  </div>
</div>
