<div class="user-details">
 <h1> My Skills</h1>
 <p> {{site.user_description}} </p>
</div>
<div class="chart-js">
  <div class="row features-block">
    <div class="wow zoomIn col-lg-6 col-lg-offset-3">
        <center><canvas id="{{ site.data.skills.id }}" height="200" width="200"></canvas></center>
    </div>
    <div class="col-lg-1"></div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById("{{ site.data.skills.id }}");
        ctx.style.width = "50%";
        ctx.style.height = "50%";
        var data = {
            labels: "{{ site.data.skills.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.skills.label }}",
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [{{ site.data.skills.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
      }, false);
    </script>
</div>
